<% provide(:title, 'Реєстрація на сайті') %>

<h1 class="brand">Реєстрація на сайті</h1>

<div class="row new_user">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :name, "Ваше ім'я" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email, "Ваша пошта" %>
      <%= f.text_field :email, class: "form-control" %>

      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Повторіть пароль" %>
      <%= f.password_field :password_confirmation, class: "form-control" %><br>

      <%= f.submit "Створити", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>