<% provide(:title, @user.name) %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="row gravatar">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <span class="text"><%= @user.name %></span>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Коментарі: <%= @user.microposts.count %> шт.</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>