<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Ваше ім\'я:' %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div><br>
  <div class="field">
    <%= f.label :phone, 'Номер телефону:' %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div><br>
  <div class="field">
    <%= f.label :email, 'Ваш email:' %><br>
    <%= f.email_field :email, class: "form-control" %>
  </div><br>
  <div class="field">
    <%= f.label :pay_type, 'Виберіть спосіб оплати:' %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, { class: "form-control" } %>
  </div><br>
  <div class="actions">
    <%= f.submit 'Відправити замовлення', class: "btn btn-primary btn-xs" %>
  </div><br>
<% end %>
