<%= provide(:description, "Ваша корзина") %>
<%= provide(:title, "Ваша корзина") %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1 class="brand">Ваша корзина</h1>
<table class="table table-striped table-bordered cart">
    <tr>
      <td>Кількість</td>
      <td>Назва</td>
      <td>Ціна</td>
      <td>Сума</td>
    </tr>
  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %> шт.</td>
      <td><%= item.product.title %></td>
      <td class="text-right"><%= sprintf("%0.02f", item.product.price) %> грн.</td>
      <td class="price"><%= sprintf("%0.02f", item.total_price) %> грн.</td>      
    </tr>
  <% end %>
    <tr>
      <td colspan="3" class="text-right"><s>Ціна без знижки:</s></td>
      <td><s><%= sprintf("%0.02f", @cart.total_price) %> грн.</s></td>
    </tr>
    <tr>
    <td colspan="3" class="text-right brand">Знижка:</td>
      <td class="brand"><%= sprintf("%0.02f", @cart.total_price * 0.15) %> грн.</td>
    </tr>
    <tr class="total_line">
      <td colspan="3">Ціна зі знижкою:</td>
      <td><%= sprintf("%0.02f", @cart.total_price * 0.85) %> грн.</td>
    </tr>
</table>

<%= button_to "Очистити корзину", @cart, class: "btn btn-primary btn-xs", 
                method: :delete, data: { confirm: 'Ви впевнені?' } %> 