<%= provide(:description, "Ваша корзина") %>
<%= provide(:title, "Ваша корзина") %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1 class="brand">Ваша корзина</h1>
<ul>
  <% @cart.line_items.each do |item| %>
    <li>
      <%= item.quantity %> шт. <%= item.product.title %>
    </li>
  <% end %>
</ul>
<%= button_to "Очистити корзину", @cart, class: "btn btn-primary btn-xs", 
                method: :delete, data: { confirm: 'Ви впевнені?' } %> 