<% provide( :description, @category.name ) %>
<% provide( :title, @category.name ) %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1 class="brand">Категорія: <%= @category.name %></h1>
<% @category.products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url, class: "img-thumbnail", width: 100) %>
    <h3><%= link_to product.title, product %></h3>
    <p>
      <%= truncate(strip_tags(product.description), length: 150) %>
      <%= link_to 'далі...', product %>
    </p>
    <div class="price_line ">
      <span class="brand">
        <%= sprintf("%0.02f", product.price) %> грн.
      </span>      
      <%= button_to 'Додати до корзини', line_items_path(product_id: product),
                       class: "btn btn-primary btn-xs pull-right" %>
    </div>
  </div>
<% end %><br>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
