<% provide( :description, "" ) %>
<% provide( :title, "" ) %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1 class="brand">Категорія: <%= @category.name %></h1>
<% @category.products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url, class: "img-thumbnail", width: 100) %>
    <h3><%= link_to product.title, product %></h3>
    <p>
      <%= truncate(sanitize(product.description), length: 150) %>
      <%= link_to 'далі...', product %>
    </p>
    <div class="price_line ">
      <span>
        <s><%= sprintf("%0.02f", product.price) %> грн.</s>
      </span>
      <span class="price">
        <%= sprintf("%0.02f", product.price * 0.85) %> грн.
      </span>
      <%= button_to 'Додати до корзини', line_items_path(product_id: product),
                       class: "btn btn-primary btn-xs pull-right" %>
    </div>
  </div>
<% end %><br>

<% @category.articles.each do |article| %>
  <div id="articles" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= link_to article.name, article_path(article) %>
      </h3>
    </div>
    <div class="panel-body">
      <p>
        <%= image_tag(article.img_url, class: "img-thumbnail welly", width: 150) %>
      </p>
      <p>
        <%= truncate(strip_tags(article.text), length: 300) %>
       </p> 
      <div class="pull-right">
        <%= link_to "Продовжити...", article, class: 'pull-right' %>
      </div>
    </div>
  </div>
<% end %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
