<%= provide(:description, "Статті сайту") %>
<%= provide(:title, "Статті сайту") %>

<h1 class="brand">Каталог продукції</h1>

<table class="table table-striped well prod_list">
  <% @products.each do |product| %>
    <tr>
      <td><%= image_tag(product.image_url, class: "img-thumbnail", width: 100) %></td>
      <td class="description"><%= truncate(strip_tags(product.description), length: 350) %></td>
      <td class="list_actions">
        <%= link_to 'Переглянути', product %>
        <%= link_to 'Редагувати', edit_product_path(product) %>
        <%= link_to 'Видалити', product, method: :delete,
                      data: { confirm: 'Ви впевнені?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'Новий продукт', new_product_path %>
