<%= provide(:description, @product.title) %>
<%= provide(:title, @product.title) %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div>
  <p class="text-center">
    <%= image_tag(@product.image_url, class: "img-thumbnail welly", width: 150) %>
  </p>

  <p>
    <strong class="brand"><%= @product.title %></strong>
  </p>

  <p>
    <%= sanitize(@product.description) %>
  </p>
      <span>
        <s><strong>Ціна: <%= sprintf("%0.02f", @product.price) %> грн.</strong></s>
      </span><br>      
  <p>  
    
    <script type="text/javascript" src="//yandex.st/share/share.js"charset="utf-8"></script>
    <div class="yashare-auto-init" data-yashareL10n="ru"
         data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter"></div> 
    <br>
    
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </p>
</div>