<%= provide(:description, @product.title) %>
<%= provide(:title, @product.title) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Назва:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Опис:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Картинка:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Ціна:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
