<%= provide(:description, @product.title) %>
<%= provide(:title, @product.title) %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <%= image_tag(@product.image_url, class: "img-thumbnail welly", width: 150) %>
</p>

<p>
  <strong>Назва:</strong>
  <strong class="brand"><%= @product.title %></strong>
</p>

<p>
  <strong>Опис:</strong>
  <%= sanitize(@product.description) %>
</p>


<p>
  <strong>Ціна:</strong>
  <%= @product.price * 0.85 %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
