<%= provide(:description, "Каталог продукції") %>
<%= provide(:title, "Каталог продукції") %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1 class="brand">Каталог продукції</h1>

<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url, class: "img-thumbnail", width: 100) %>
    <h3><%= link_to product.title, product %></h3>
    <p>
      <%= truncate(sanitize(product.description), length: 150) %>
      <%= link_to 'далі....', product %>
    </p>
    <div class="price_line ">
      <span>
        <s><%= sprintf("%0.02f", product.price) %> грн.</s>
      </span>
      <span class="price">
        <%= sprintf("%0.02f", product.price * 0.85) %> грн.
      </span>
      <%= button_to 'Додати до корзини', line_items_path(product_id: product),
                      class: "btn btn-primary btn-xs pull-right" %>
    </div>
  </div>
<% end %>