<%= provide(:description, "Тепла підлога - застосування кабельних систем, монтаж теплої підлоги") %>
<%= provide(:title, "Тепла підлога - застосування кабельних систем, монтаж теплої підлоги") %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>


<div id="articles" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= @article_flagman.name %>
      </h3>
    </div>
    <div class="panel-body">
      <p>
        <%= sanitize(@article_flagman.text) %>
       </p>       
    </div>
  </div>

