<%= provide(:description, "Каталог продукції") %>
<%= provide(:title, "Каталог продукції") %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1 class="brand">Каталог продукції</h1>

<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url, class: "img-thumbnail", width: 100) %>
    <h3><%= link_to product.title, product %></h3>
    <p><%= truncate(sanitize(product.description), length: 250) %></p>
    <div class="price_line">
      <span class="price"><%= sprintf("%0.02f", product.price) %> грн.</span>
    </div>
  </div>
<% end %>