<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= yield(:description) %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/nav' %>

  <div class="container welly" id="content">
    <div class="row">

      <div class="col-md-3">
        <%= render 'layouts/sidebar' %>
      </div>

      <div class="col-md-6">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
      </div>

      <div class="col-md-3">
        <%= render 'layouts/right_sidebar' %>
      </div>

    </div>
  </div>
  

  <%= render 'layouts/footer' %>
</body>
</html>
